body {font-family: Arial, Helvetica, sans-serif;}

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }

th {font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; text-align: center; font-weight: bold; font-size: 12px;}

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }

.asignaturas{
    width: 300px;
    margin-left: 11px;
    font-size: 15px;
}

.dias{
    width: 80px;
    margin-left: 9px;
    font-size: 15px;
    text-align: center;
}

.seccion{
    width: 25px;
    margin-left: 11px;
    font-size: 15px;
    text-align: center;
}

.horas{
    width: 70px;
    margin-left: 5px;
    font-size: 15px;
    text-align: center;
}

.check{
    width: 25px;
}

thead, tbody { display: block; }

tbody {
    height: 200px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.btn {
  background: #039;
  background-image: -webkit-linear-gradient(top, #039, #039);
  background-image: -moz-linear-gradient(top, #039, #039);
  background-image: -ms-linear-gradient(top, #039, #039);
  background-image: -o-linear-gradient(top, #039, #039);
  background-image: linear-gradient(to bottom, #039, #039);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 8px 19px 10px 20px;
  text-decoration: none;
  margin-top: -40px;
  margin-left: 570px;
}

.btn:hover {
  background: #6388d1;
  background-image: -webkit-linear-gradient(top, #6388d1, #6388d1);
  background-image: -moz-linear-gradient(top, #6388d1, #6388d1);
  background-image: -ms-linear-gradient(top, #6388d1, #6388d1);
  background-image: -o-linear-gradient(top, #6388d1, #6388d1);
  background-image: linear-gradient(to bottom, #6388d1, #6388d1);
  color: #ffffff;
  text-decoration: none;
}
